
<div id="clicked-state"></div>

<div id="data-div">
  
</div>

<div id="map" style="width: 700px; height: 500px;"></div>


  <form action="">
   <input id="age" type="text" name="age" placeholder="Age"><br>
   <input id="state" type="text" name="state" placeholder="State Initials">

  <div>Income Level: <select id="">
    <option value="b4">50,000 - 99,999</option>
    <option value="b56">100,000 - 199,999</option>
    <option value="b7">200,000 & Up</option>
    </select>
  </div>
  
  <div>Race: <select id="race">
    <option value="race0">White</option>
    <option value="race1">Black</option>
    <option value="race2">Hispanic</option>
    <option value="race3">Asian</option>
    <option value="race4">Other</option>
    </select>
  </div>
  
  <div>Education: <select id="education">
    <option value="edu0">No High School Diploma</option>
    <option value="edu1">High School Diploma</option>
    <option value="edu2">Some College</option>
    <option value="edu3">Bachelor's Degree</option>
    <option value="edu4">Post-Grad</option>
    </select>
  </div>
  <input type="submit" value="Submit">
</form>



