<html>
<head>
	<title>Live Charitably</title>
  <script type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
</head>
<body>

<h1>Live Charitably</h1>
<div id="mapdiv" style="width: 600px; height: 400px;"></div>
<form action="">
  Age: <input id="age" type="text" name="age"><br>
  Zipcode: <input id="zip" type="text" name="zipcode">

  <div>Income Level: <select id="">
    <option value="0">50,000 - 99,999</option>
    <option value="1">100,000 - 199,999</option>
    <option value="2">200,000 & Up</option>
    </select>
  </div>
  
  <div>Race: <select id="race">
    <option value="race0">White</option>
    <option value="race1">Black</option>
    <option value="race2">Hispanic</option>
    <option value="race3">Asian</option>
    <option value="race4">Other</option>
    </select>
  </div>
  
  <div>Education: <select id="education">
    <option value="edu0">No High School Diploma</option>
    <option value="edu1">High School Diploma</option>
    <option value="edu2">Some College</option>
    <option value="edu3">Bachelor's Degree</option>
    <option value="edu4">Post-Grad</option>
    </select>
  </div>
  <input type="submit" value="Submit">
</form>
</body>
</html>